@media (max-width: 821px) {
    .banner-bg{
        background-position: top right 18%;
    }
    .banner-content{
        align-items: center;
        justify-content: end;
        
    }
    .banner-content h1{
        background-color: #303030ec;
        padding: 10px 15px;
        color: #fff;
        border-radius: 20px;
        letter-spacing: 10px;
        font-size: 2rem;
    }
    .banner-content p{
        background-color: #303030ce;
        padding: 5px 15px;
        color: #fff;
        border-radius: 15px;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }
    .rp-responsive{
        flex-direction: column-reverse;
    }
    .scrolling-active{
        color: #fff;
        background: #303030;
    }
    .search input{
        background: #fff;
        border: none;
    }
    .search a {
        top: 15%;
    }
    .scrolling-active .search input{
        background: #fff;
        border: none
    }.scrolling-active .search a{
        color: #000;
    }
    .navbar-toggler-icon{
        height: auto;
        width: auto;
    }
    nav::before{
        background: #303030;
        filter: blur(0);
    }
}
@media(max-width: 768px){
    .banner-bg {
        background-position: top right 4%;
    }
}
@media(max-width: 576px){
    .banner-bg {
        background-position: top right 10%;
    }
}
@media(max-width: 496px){
    .banner-bg {
        background-position: top right 16%;
    }
}
@media(max-width: 360px){
    .banner-bg {
        background-position: top right 20%;
    }
}