*{
    margin:0;
    padding: 0;
    transition: all ease .5s;
    scroll-behavior: smooth;
}

/* Local font link  */
/* ==================================================================== */
@font-face {
    font-family: Heading;
    src: url('../font/Oswald-Regular.ttf');
}
@font-face {
    font-family: Paragraph;
    src: url('../font/Montserrat-Regular.ttf');
}
/* ======================================================================= */

                /* Banner */

.banner-bg{
    background: url('../images/banner.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
nav{
    position: relative;
    z-index: 2;
}
nav::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: #000; */
    z-index: -1;
    filter: blur(5px);
    background: #30303034;

}
.navbar-brand img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-link{
    color: #e8631c;
    font-family: Heading;    
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 18px;
}
.nav-link:hover{
    color: #fff;  
}
.fa-bars-staggered{
    color: #fff;
    border: 2px solid #fff;
    padding: 7px 10px;
    border-radius: 10px;
    transition: all ease .4s !important;
    margin-top: -15%;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
.search input{
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    background-color: transparent;
    border: 2px solid #303030;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
}
.search{
    position: relative;
    width: 5rem;
}
.search a{
    position: absolute;
    top: 20%;
    right: 20%;
    color: #303030;
    font-size: 20px;
    transition: all ease .1s !important;

}
.search a:hover{
    color: #fff;
}

/* Scroll to navigation background change */

.scrolling-active{
    background-color: #303030;
    color: #fff;
    transition: all ease .8s !important;

}
.scrolling-active .nav-link{
    color: #fff;
}
.scrolling-active .search a{
    color: #fff;
    transition: all ease .1s !important;
}

.scrolling-active .nav-link:hover{
    color: #e8631c;  
}
.scrolling-active .search a:hover{
    color: #e8631c;
}
.scrolling-active .search input{
    border: 2px solid #fff;
    color: #fff;
}
    /* Banner Content */

.banner-content{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
    flex-direction: column;
}
.banner-content h1{
    color: #000;
    font-family: Heading;
    font-size: 5rem;
}
.banner-content p{
    width: 40%;
    color: #303030;
    font-family: Paragraph;
    

}
.banner-content button{
    background-color: #e8631c;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 35px;
    font-family: paragraph;
    margin: 20px 0;
}

             /* Portfolio  */

.portfolio-bg{
    background: url('../images/shape1.png') no-repeat;
    background-position: left bottom;
    background-size: contain;
    background-color: #e8631c;
    /* height: 100vh; */
}

.portfolio-bg h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Heading;
    font-size: 40px;
    padding-top: 100px;
    text-shadow: 0 0 10px #000;
}
.portfolio-bg p{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-family: Paragraph;
    width: 40vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    text-shadow: 0 0 5px #000;
}


/* Card  */
.card{
    background: #303030;
    margin: 0 40px;
    cursor: pointer;
    border-radius: 0;
}
.card:hover{
	box-shadow: 0px 0px 8px #000;
    transition: all ease-out .1s;
}
.card img{  
    height: 200px;
}
.card-title{
    color: #fff;
    text-align: center;
    font-family: Heading;
    text-transform: uppercase;
    
}
.p-fix{
    --bs-gutter-x: 0;
}


/* services */

.services-bg{
    background: url('../images/shape2.png') no-repeat;
    background-position: left bottom;
    background-size:contain;
    background-color: #303030;
    /* height: 100vh; */
}
.services-bg h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: Heading;
    font-size: 40px;
    padding-top: 100px;
    text-shadow: 0 0 10px #000;
}
.services-bg p{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    font-family: Paragraph;
    width: 40vw;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px 0;
    text-shadow: 0 0 5px #000;
}

.s-card{
    background-color: #e8631c;
    border-radius: 6px;

}

.s-card .fa-award{
    font-size: 100px;
    margin-top: 40px;
    color: #fff;
}
.s-card button{
    background-color: #303030;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 32%;
    font-family: Heading;
    margin: 20px auto;
    
}

/* About Area */
#about{
    height: 100vh;
    background: #303030;
    color: #fff;
    text-align: center;
}
#about h1{

    text-transform: uppercase;
    font-family: Heading;
    padding: 100px 0;
}
#about p{
    padding-bottom: 150px;
}
.count h1{
    padding: 0 0 !important;
    font-family: Paragraph;
    text-transform: capitalize;
    
}
.count p{
    text-transform: capitalize;
    font-family: Paragraph;
}

.content-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Recent Project  */
#recent-project{
    /* height: 100vh; */
    background: #e8631c; 
}
.first-project{
    display: flex;
    justify-content: center;
}
.fp-content{
    width: 80%;
    color: #fff;
    text-align: center;
    height: 60vh;
}
.fp-content h1{
    text-transform: uppercase;
    font-family: Heading;
}
.fp-content p{
    font-family: Paragraph;
    /* width: 70%; */
    text-align: center;
    padding: 0 10%;
}
.fp-content a{
    background-color: #303030;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: #fff;
    padding: 7px 40px;
    font-family: paragraph;
    margin: 20px 0;
    text-decoration: none;
}
.p-width{
padding: 0 !important;
}


/* Contact Area  */


#contact{
    background: url('../images/shape3.png');
    background-position: center center;
    background-size: cover;
    background-color: #e8631c;

    
}
.contact-form{
    display: flex;
    justify-content: center;
    padding: 200px 0;
}
.contact-form form h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: Heading;
}
.contact-form form input{
    padding: 10px 10vw;
    outline: none;
    border: none;
    margin: .5px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.549);
    text-align: center;

}
.contact-form form input[name=Message]{
    padding: 40px 10vh;
    text-align: center;
}
.contact-form form input[type=submit]{
    background: #303030;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Heading;
    letter-spacing: 2px;

    margin-top: 5px;
    text-align: center;    
}

.success{
    background: #fff;
    display: none;
    padding: 10px 30px;
    color: #000;
    border-radius: 30px;
    animation: status .4s ease forwards;
}
@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    70%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


/* Foter Area  */
#footer{
    background: #303030;
    color: #fff;
    padding: 100px 0;
}
.footer-content h2{
    text-transform: uppercase;
    font-family: Heading;
}
.footer-content a{
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
}
.footer-content p{
    padding-right: 30%;
    padding-bottom: 10px;
}
.social a {
    padding: 5px 8px;
    background: #fff;
    color: #303030;
    border-radius: 50%;
    font-size: 20px;
}
.fa-facebook-f{
    padding: 0 2px;
}

footer{
    height: 5rem;
    width: 100%;
    background: #e8631c;
}
footer p{
    color: #fff;
    text-align: center;
    font-family: Paragraph;
    padding: 1.5rem 0;
    letter-spacing: 2px;
}
footer a {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    text-shadow: 0 1px 2px #303030;
}